:root {
	--text: #333333;
	--bg: #d3c7c7;
}

/* Fonts */

@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/SegoeUI/SegoeUI-SemiBold.ttf");
	font-weight: 600;	
}

@font-face {
	font-family: 'Segoe UI';
	src: url("../fonts/SegoeUI/SegoeUI.ttf");
	font-weight: normal;
}

/* End Fonts */

body {
	font-family: "Segoe UI", "Tahoma", sans-serif;
  background-color: var(--bg);
	color: var(--text);
	font-size: 26px;
	font-weight: normal;
}